* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.btn-start,
.btn-stop {
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-start:disabled,
.btn-stop:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-start {
  background-color: #4caf50;
}

.btn-stop {
  background-color: #ff5252;
}
